<!--
	TD {font: bold 10px Arial, helvetica, sans-serif; color: #66CCCC;}
	A {font: bold 10px Arial, helvetica, sans-serif; color: #CCFFFF;text-decoration:underline;}
	.largeText {font: bold 24px Arial, helvetica, sans-serif; color: #CCFFFF;}
	.medText {font: bold 15px Arial, helvetica, sans-serif; color: #66CCCC;}
	.smallText {font: normal 10px Arial, helvetica, sans-serif; color: #66CCCC;}
	.dateText {font: bold 15px Arial, helvetica, sans-serif; color: #CCFFFF;}
	
	.title {font: bold italic 15px Arial, helvetica, sans-serif; color: #99FFFF;}
	.bullets {font: bold 11px Arial, helvetica, sans-serif; color: #66CCCC;}
	.highlights {font: bold 11px Arial, helvetica, sans-serif; color: #99FFFF;}
/* to keep a uniform style across systems, always underline links on
 * styles*/ 
	.cscbutton_short {font: bold 10px Arial, helvetica, sans-serif; color: #CCFFFF; border: 0; background-color: transparent; cursor : hand; width:90px; height:16px;text-decoration:underline;}
	.cscbutton_short_underline {font: bold 10px Arial, helvetica, sans-serif; color: #CCFFFF; border: 0; background-color: transparent; cursor : hand; width:90px;  height:16px;
				  text-decoration:underline;}
				  
	.cscbutton {font: bold 10px Arial, helvetica, sans-serif; color: #CCFFFF; border: 0; background-color: transparent; cursor : hand;  width:125px; height:16px;text-decoration:underline;}
	.cscbutton_underline {font: bold 10px Arial, helvetica, sans-serif; color: #CCFFFF; border: 0; background-color: transparent; cursor : hand; width:125px; height:16px;
				  text-decoration:underline;}
-->
